<div class="flex flex-row p-4 border-solid border-b-2 border-slate-500 mx-0 text-center">
  <div class="basis-1/4">
    <p>Timer, ms</p>
    <input class="text-center"
           type="number"
           min="100"
           placeholder="Interval (ms)"
           [formControl]="timerInterval"/>
  </div>
  <div class="basis-1/4">
    <p>Array size</p>
    <select data-testid="select-page-size" class="w-full text-center"
            [value]="10"
            [formControl]="pageSize">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>
  </div>

  <div class="basis-1/2">
    <p>Additional array ids</p>
    <input class="w-9/12 text-center"
           type="number"
           min="0"
           placeholder="Additional array ids"
    />
  </div>
</div>
